:root {
    --very-dark-blue: hsl(209, 33%, 12%);
    --dark-gray: hsl(0, 0%, 59%);
    --blue: hsl(223, 87%, 63%);
    --light-red: hsl(354, 100%, 66%);
    --pale-blue: hsl(223, 100%, 88%);
}

body {
    font-size: 20px;
    box-sizing: border-box;
    background-color: var(--very-dark-blue);
    
}

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
